.my_code {
  display: block;
  padding: 10px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-radius: 2px;
  p {
    line-height: 0.5em;
    &.tab {
      text-indent: 2em;
    }
    &.tab-4 {
      text-indent: 4em;
    }
    &.tab-6 {
      text-indent: 6em;
    }
    &.notes,
    .notes {
      color: green;
      font-style: italic;
    }
  }
}