.export-demo {
  .demo {
    margin: 10px;
    .mj_btn {
      margin-bottom: 10px;
      background-color: #3072ec;
      color: #fff;
    }
    table {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #a8bfde;
      thead, tr {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #a8bfde;
      }
      td, th {
        padding: 5px 10px;
        color: #5b7da3;
        font-size: 16px;
      }
      tr {
        &:nth-child(even) {
          background: #d3dfed;
        }
        &:nth-child(odd) {
          background: #d3dfed;
        }
      }
    }
  }
}